/* Styles for header */
header {
    background-color: #000;
    color: #00FF00; /* Green text */
    padding: 10px 0;
    text-align: center;
    font-family: monospace; /* Monospace font for hacker style */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #00FF00; /* Green links */
    text-decoration: none;
}

/* Styles for main content */
main {
    padding: 10px;
}

/* Styles for footer */
footer {
    background-color: #000;
    color: #00FF00; /* Green text */
    text-align: center;
    padding: 10px 0;
    font-family: monospace; /* Monospace font for hacker style */
}

/* Styles for products */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    margin-bottom: 20px;
    text-align: center;
    width: 200px; /* Width of each product */
}

.product img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px; /* Устанавливаем базовый размер шрифта */
}

h1 {
    font-size: 2em; /* Увеличиваем размер заголовков h1 */
}

h2 {
    font-size: 2.0em; /* Увеличиваем размер заголовков h2 */
}

p {
    font-size: 1.2em; /* Увеличиваем размер обычного текста */
}
.nvidia-logo {
    max-width: 150px; /* Максимальная ширина логотипа Nvidia */
    height: auto; /* Поддерживаем соотношение сторон */
}
